
@{
    ViewBag.Title = "CreatePlayer";
}

<h2>Create Player</h2>

<form action="~/Home/SuccessfullyCreatedChar/" method="post">
    Distribute 100 Skill Points into the the stats below to build your character how you want!<br />

    <input type="hidden" name="CharName" value="@ViewBag.CharName" />
    <input type="hidden" name="CharHeight" value="@ViewBag.CharHeight" />
    <input type="hidden" name="CharWeight" value="@ViewBag.CharWeight" />

    ThreePoint %: <input type="number" id="ThreePointPerc" name="ThreePoint" min="@ViewBag.ThreePointWH" value="@ViewBag.ThreePointWH" /><br />

    FieldGoal %:<input type="number" id="FieldGoatPerc" name="FieldGoat" min="@ViewBag.FieldGoalWH" value="@ViewBag.FieldGoalWH" /><br />

    Paint %:<input type="number" id="PaintPerc" name="Paint" min="@ViewBag.PaintWH" value="@ViewBag.PaintWH" /><br />

    Steal %:<input type="number" id="StealPerc" name="Steal" min="@ViewBag.StealWH" value="@ViewBag.StealWH" /><br />

    Block %:<input type="number" id="BlockPerc" name="Block" min="@ViewBag.BlockWH" value="@ViewBag.BlockWH" /><br />



    Submit: <input type="submit" name="submit" value="Submit SkillPoint Distribution" onclick="return Check()" /><br />
</form>
<script>
    function Check() {
        var a = parseInt( document.getElementById("ThreePointPerc").value ) - @ViewBag.ThreePointWH;
        var b = parseInt( document.getElementById("FieldGoatPerc").value ) - @ViewBag.FieldGoalWH;
        var c = parseInt( document.getElementById("PaintPerc").value ) - @ViewBag.PaintWH;
        var d = parseInt( document.getElementById("StealPerc").value ) - @ViewBag.StealWH;
        var e = parseInt( document.getElementById("BlockPerc").value ) - @ViewBag.BlockWH;
        if ((100 - (a +b+c+d+e)) == 0) {
            return true;
        }
        else {
            return false;
        }

    }



</script>