@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Error</h2>
<h2>@ViewBag.ErrorDescription</h2>

<h2>Clicking the Character's Name Will Allow You to Play with that Character</h2>
<a href="~/Home/CreatePlayerStart">Create</a>
<table class="table">
    <tr>
        <th>
            CharName
        </th>
        <th>
            Height
        </th>
        <th>
            Weigh
        </th>
        <th>
            ThreePoint
        </th>
        <th>
            Mid-Range
        </th>
        <th>
            Paint
        </th>
        <th>
            Steal
        </th>
        <th>
            Block
        </th>
    </tr>

            @foreach (var item in ViewBag.Characters)
            {
                <tr>
                    <td>
                        <form action="~/Home/PokeJam" method="post">
                            <input type="hidden" name="CharID" value="@item.CharID" />
                            <input type="submit" name="CharName" value="@item.CharName" />
                        </form>
                    </td>
                    <td>
                        @item.Height
                    </td>
                    <td>
                        @item.Weight
                    </td>
                    <td>
                        @item.ThreePoint %
                    </td>
                    <td>
                        @item.FieldGoal %
                    </td>
                    <td>
                        @item.Paint %
                    </td>
                    <td>
                        @item.Steal %
                    </td>
                    <td>
                        @item.Block %
                    </td>
                    <td>
                        <a href="/Characters/Delete/@item.CharID">Delete</a>
                    </td>
                </tr>
            }
</table>
