@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Error</h2>
<h2>@ViewBag.ErrorDescription</h2>

<a href="~/Home/CreatePlayerStart">Create</a>
<table class="table">
    <tr>
        <th>
            CharName
        </th>
        <th>
            Height
        </th>
        <th>
            Weigh
        </th>
        <th>
            ThreePoint
        </th>
        <th>
            FieldGoal
        </th>
        <th>
            Paint
        </th>
        <th>
            Steal
        </th>
        <th>
            Block
        </th>
    </tr>

<<<<<<< HEAD
            @foreach (var item in ViewBag.Characters)
            {
                <tr>
                    <td>
                        @*@item.CharName*@
                        <form action="~/Home/PokeJam" method="post">
                            <input type="hidden" name="CharID" value="@item.CharID" />
                            <input type="submit" name="CharName" value="@item.CharName" />
                        </form>
                    </td>
                    <td>
                        @item.Height
                    </td>
                    <td>
                        @item.Weight
                    </td>
                    <td>
                        @item.ThreePoint
                    </td>
                    <td>
                        @item.FieldGoal
                    </td>
                    <td>
                        @item.Paint
                    </td>
                    <td>
                        @item.Steal
                    </td>
                    <td>
                        @item.Block
                    </td>
                    <td>
                        <a href="/Characters/Delete/@item.CharID">Delete</a>
                    </td>
                </tr>
            }


        
      

    
</table>


=======
    @foreach (var item in ViewBag.Characters)
    {
        <tr>
            <td>
                 @*@item.CharName*@
                <form action="~/Home/PokeJam" method="post">
                    <input type="hidden"  name="CharID" value="@item.CharID" />
                    <input type="submit" name="CharName" value="@item.CharName" />
                </form>
            </td>
            <td>
                @item.Height
            </td>
            <td>
                @item.Weight
            </td>
            <td>
                @item.ThreePoint
            </td>
            <td>
                @item.FieldGoal
            </td>
            <td>
                @item.Paint
            </td>
            <td>
                @item.Steal
            </td>
            <td>
                @item.Block
            </td>
            <td>
                <a href="/Characters/Delete/@item.CharID">Delete</a>
            </td>
        </tr>
    }

</table>

>>>>>>> 22a5f166c14c76b5e2515d803610f599d5363a91
@*<h1>@ViewBag.NameProp</h1>
<h3>Speed: @ViewBag.Speed.base_stat</h3>
<h3>SpecialDef: @ViewBag.SpecialDef.base_stat</h3>
<h3>SpecialAttack: @ViewBag.SpecialAttack.base_stat</h3>
<h3>Def: @ViewBag.Def.base_stat</h3>
<h3>Attack: @ViewBag.Attack.base_stat</h3>
<h3>HP: @ViewBag.HP.base_stat</h3>
<img src="@ViewBag.Image.front_default" alt="Front">
<img src="@ViewBag.Image.back_default" alt="Front">


<h2>3 Point: @ViewBag.ThreePoint</h2>
<h2>Field Goal: @ViewBag.FieldGoal</h2>
<h2>Paint: @ViewBag.Paint</h2>
<h2>Steal: @ViewBag.Steal</h2>
<h2>Block: @ViewBag.Block</h2>

<h1>Random Number: @ViewBag.Number</h1>
<h1>Success: @ViewBag.Success</h1>

<h2>Weight: @ViewBag.Weight</h2>
<h2>3 Point: @ViewBag.ThreePointW</h2>
<h2>Field Goal: @ViewBag.FieldGoalW</h2>
<h2>Paint: @ViewBag.PaintW</h2>
<h2>Steal: @ViewBag.StealW</h2>
<h2>Block: @ViewBag.BlockW</h2><br />

<h2>Height: @ViewBag.Height</h2>
<h2>3 Point: @ViewBag.ThreePointH</h2>
<h2>Field Goal: @ViewBag.FieldGoalH</h2>
<h2>Paint: @ViewBag.PaintH</h2>
<h2>Steal: @ViewBag.StealH</h2>
<h2>Block: @ViewBag.BlockH</h2><br />

<h2>Combo:</h2>
<h2>3 Point: @ViewBag.ThreePointWH</h2>
<h2>Field Goal: @ViewBag.FieldGoalWH</h2>
<h2>Paint: @ViewBag.PaintWH</h2>
<h2>Steal: @ViewBag.StealWH</h2>
<h2>Block: @ViewBag.BlockWH</h2>


<form action="~/Home/SkillPoint/" method="post">
    Skill Points to Distribute: 100<br />

    ThreePoint %: <input type="number" id="ThreePointPerc" name="ThreePoint" min="@ViewBag.ThreePointWH" /><br />

    FieldGoal %:<input type="number" id="FieldGoatPerc" name="FieldGoat" min="@ViewBag.FieldGoalWH" /><br />

    Paint %:<input type="number" id="PaintPerc" name="Paint" min="@ViewBag.PaintWH" /><br />

    Steal %:<input type="number" id="StealPerc" name="Steal" min="@ViewBag.StealWH" /><br />

    Block %:<input type="number" id="BlockPerc" name="Block" min="@ViewBag.BlockWH" /><br />

    Submit: <input type="submit" name="submit" value="SkillPoint Distribution" onclick="return Check()" /><br />
</form>
<script>
    function Check() {
        var x = parseInt(@Session["SkillPoints"].ToString())
        var a = parseInt( document.getElementById("ThreePointPerc").value ) - @ViewBag.ThreePointWH;
        var b = parseInt( document.getElementById("FieldGoatPerc").value ) - @ViewBag.FieldGoalWH;
        var c = parseInt( document.getElementById("PaintPerc").value ) - @ViewBag.PaintWH;
        var d = parseInt( document.getElementById("StealPerc").value ) - @ViewBag.StealWH;
        var e = parseInt( document.getElementById("BlockPerc").value ) - @ViewBag.BlockWH;
        if ((100 - (a +b+c+d+e)) == 0) {
            return true;
        }
        else {
            return false;
        }

    }



</script>*@