@using PokeJam.Models;

@{
    ViewBag.Title = "SuccessfullyCreatedChar";
}
<center>
    <h2>You have successfully created your character!</h2>
</center>
<table class="table table-bordered table-striped">
    <tr>
        <th>CharName</th>
        <th>CharHeight</th>
        <th>CharWeight</th>
        <th>ThreePoint</th>
        <th>FieldGoal</th>
        <th>In-the-Paint</th>
        <th>Steal</th>
        <th>Block</th>


    </tr>
    @for (int i = 0; i < ViewBag.Char.Count; i++)
    {
        var Char = ViewBag.Char[i];
        <tr>
            <td>
                @Char.CharName
            </td>
            <td>
                @Char.Height
            </td>
            <td>
                @Char.Weight
            </td>
            <td>
                @Char.ThreePoint
            </td>
            <td>
                @Char.FieldGoal
            </td>
            <td>
                @Char.Paint
            </td>
            <td>
                @Char.Steal
            </td>
            <td>
                @Char.Block
            </td>
        </tr>
    }
</table>






<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .button {
            border-radius: 4px;
            background-color: black;
            border: none;
            color: red;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

            .button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .button span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .button:hover span {
                padding-right: 25px;
            }

                .button:hover span:after {
                    opacity: 1;
                    right: 0;
                }
    </style>
</head>
<body>
    <br />
    <br />

    <center>
        <button class="button">
            <span>
                <a href="~/Home/PokeJam">PokeJam</a>
            </span>
        </button>
        <br />
        <br />
        <br />

    </center>
</body>
</html>
<center>
    <img src="~/Content/Blastoise.png" height="300" width="285" />
</center>