
@{
    ViewBag.Title = "NumberCrunch";
}

<h2>NumberCrunch</h2>

<h1>@ViewBag.Error</h1>
<h1>@ViewBag.ErrorDescription</h1>

<h1>@ViewBag.A</h1>
<h1>@ViewBag.B</h1>
<h1>@ViewBag.C</h1>
<h1>@ViewBag.D</h1>
<h1>@ViewBag.E</h1>