
@{
    ViewBag.Title = "NumberCrunch";
}

@if (ViewBag.Over != "yes")
{
    <h2>Quarter @Session["Quarter"]</h2>
}
else if (ViewBag.Over == "yes")
{
    <h2>Over Time!</h2>

}

<h1>@ViewBag.Error</h1>
<h1>@ViewBag.ErrorDescription</h1>

@if ((string)Session["Winner"] == "Player")
{
    <table id="poop"class="table table-bordered">
        <tr>
            <th>Play's for Player</th>
            <th>Play's for Pokemon</th>
        </tr>
        @for(int i = 0; i < ViewBag.Player.Count; i++)
        {
            <tr>
                <td>@ViewBag.Player[i]</td>
                <td>@ViewBag.Computer[i]</td>
            </tr>
        }
       </table>
        <table id="poop" class="table table-bordered">
            <tr>
                <th>Total Points For Player at end of Quarter</th>
                <th>Total Points For Pokemon at end of Quarter</th>
            </tr>
            <tr>
                <td>@Session["User"]</td>
                <td>@Session["Comp"]</td>

            </tr>
    </table>
}
else if ((string)Session["Winner"] == "Computer")
{
<table id="poop"class="table table-bordered">
    <tr>
        <th>Play's for Pokemon</th>
        <th>Play's for Player</th>

    </tr>
    @for (int i = 0; i < ViewBag.Player.Count; i++)
    {
    <tr>
        <td>@ViewBag.Computer[i]</td>
        <td>@ViewBag.Player[i]</td>

    </tr>
    }
  </table>
  <table id="poop"class="table table-bordered">
    <tr>
        <th>Total Points For Player at end of Quarter</th>
        <th>Total Points For Pokemon at end of Quarter</th>
       
    </tr>
    <tr>
        <td>@Session["Comp"]</td>
        <td>@Session["User"]</td>
    </tr>
</table>
}

@if (ViewBag.Over != "yes")
{
    <center>
        <button class="button"><a href="~/GamePlay/QuarterSelector">Play Next Quarter?</a></button>
    </center>
}
else
{
    <center>
    <button class="button"><a href="~/GamePlay/GameplayResult">Move to end of OverTime</a></button>
    </center>
}

<center>
    <button class="button"><a href="~/Home/PokeJam">Quit</a></button>
</center>
<br />
<center>
    <img src="~/Content/Zapdos.png" />
</center>

<html>
<head>
    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #poop td, #poop th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #poop tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #poop tr:hover {
            background-color: #ddd;
        }

        #poop th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: red;
            color: white;
        }

            .button {
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    

    </style>
</head>
</html>