
@{
    ViewBag.Title = "NumberCrunch";
}

@if (ViewBag.Over != "yes")
{
    <h2>Quarter @Session["Quarter"]</h2>
}
else if (ViewBag.Over == "yes")
{
    <h2>Over Time!</h2>

}

<h1>@ViewBag.Error</h1>
<h1>@ViewBag.ErrorDescription</h1>

@if ((string)Session["Winner"] == "Player")
{
    <table class="table table-bordered">
        <tr>
            <th>Play's for Player</th>
            <th>Total Points For Player at end of Quarter</th>
            <th>Play's for Pokemon</th>
            <th>Total Points For Pokemon at end of Quarter</th>
        </tr>
        @foreach (var item in ViewBag.Player)
        {
            <tr>

                <td>@item</td>
            </tr>

        }
        <tr>
            <td>@Session["User"]</td>
        </tr>

        @foreach (var item in ViewBag.Computer)
        {
            <tr>

                <td>@item</td>
            </tr>

        }
        <tr>
            <td>@Session["Comp"]</td>
        </tr>

    </table>
}
else if ((string)Session["Winner"] == "Computer")
{
<table class="table table-bordered">
    <tr>
        <th>Play's for Player</th>
        <th>Total Points For Player at end of Quarter</th>
        <th>Play's for Pokemon</th>
        <th>Total Points For Pokemon at end of Quarter</th>
    </tr>
    @foreach (var item in ViewBag.Computer)
    {
        <tr>

            <td>@item</td>
        </tr>

    }
    <tr>
        <td>@Session["Comp"]</td>
    </tr>

    @foreach (var item in ViewBag.Player)
    {
        <tr>

            <td>@item</td>
        </tr>

    }
    <tr>
        <td>@Session["User"]</td>
    </tr>

</table>
}

@if (ViewBag.Over != "yes")
{
    <a href="~/GamePlay/QuarterSelector">Move on to the Next Quarter</a>
}
else
{
    <a href="~/GamePlay/GameplayResult">Move to end of OverTime</a>
}

<a href="~/Home/PokeJam">Quit</a>