
@{
    ViewBag.Title = "PlayConclusionX2";
}

<h2>PlayConclusionX2</h2>

<h3>@Session["Comp"]</h3>

@if (ViewBag.Which == 1)
{
    <h2>@(ViewBag.Success ? "Ball was Stolen" : "")</h2>
    if (!ViewBag.Success)
    {
        <h3>@ViewBag.Made</h3>
    }
}
@if (ViewBag.Which == 2)
{
    <h2>@(ViewBag.Success ? "Ball was Stolen" : "")</h2>
    if (!ViewBag.Success)
    {
        <h3>@ViewBag.Made</h3>
    }
}

What shot do you want to try next?<br /><br />
<form action="~/GamePlay/PlayConclusionX3" method="post">
    <input type="submit" name="shot" value="ThreePoint" />
</form>

<form action="~/GamePlay/PlayConclusionX3" method="post">
    <input type="submit" name="shot" value="MidRange" />
</form>

<form action="~/GamePlay/PlayConclusionX3/" method="post">
    <input type="submit" name="shot" value="Paint" />
</form>