@model IEnumerable<PokeJam.Models.Tournament>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.T1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.T1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TID })
        </td>
    </tr>
}

</table>
